@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
}

@layer components {
  .heading-b-32 {
    @apply font-bold text-32pxr leading-50pxr;
  }
  .heading-b-25 {
    @apply font-bold text-25pxr leading-40pxr;
  }
  .desc-r-18 {
    @apply font-regular text-18pxr leading-18pxr;
  }
  .button-b-18 {
    @apply font-bold text-18pxr leading-20pxr;
  }
}

.fade-title {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }

  .min-h-screen {
    min-height: -webkit-fill-available;
  }

  .max-h-screen {
    max-height: -webkit-fill-available;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(10px 10px 10px #000);
}
